<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://d3js.org/d3.v5.js"></script>

</head>
<body>
	
	 <div id="svg">
		
	</div>
	
</body>


</html>

<script type="text/javascript">
	var vt = JSON.parse('{{data | tojson}}');
	//console.log(vt);

	function calcul_epaisseur(pourcentage){
		return (pourcentage*35)/100;
	}
	function model(pourcentages,threshold){
		var nb_layers = pourcentages.length;
		var decalage = 250;
		var decalage_y = 45;
		var x = 160+decalage;
		var clusters = [];
		for(let i=0;i<pourcentages.length;i++){
			for(let j=0;j<pourcentages[i].length;j++){
				var keys = Object.keys(pourcentages[i][j]);
				for(let k=0;k<keys.length;k++) if(!clusters.includes(keys[k])) clusters.push(keys[k]);
			}
		}
		
		
		var clusters_classe0 = [];
		var clusters_classe1 = [];
		var clusters_classe0_1 = [];

		for(let i=0;i<pourcentages.length;i++){
			clust_commun = [];
			for(let k=0;k<clusters.length;k++){
				if(typeof pourcentages[i][0][clusters[k]]!=='undefined' && typeof pourcentages[i][1][clusters[k]]!=='undefined') 
					if(pourcentages[i][0][clusters[k]]>=threshold && pourcentages[i][1][clusters[k]]>=threshold)clust_commun.push(clusters[k]);
			}
			clusters_classe0_1.push(clust_commun);
		}
		for(let i=0;i<pourcentages.length;i++){
			for(let j=0;j<2;j++){
				var clust_ep = {};
				
				for(let k=0;k<clusters.length;k++){
					if(typeof pourcentages[i][j][clusters[k]]!=='undefined' && pourcentages[i][j][clusters[k]]>=threshold){
						clust_ep[clusters[k]] = calcul_epaisseur(pourcentages[i][j][clusters[k]]);
					}
				}
				if(j==0) clusters_classe0.push(clust_ep);
				else clusters_classe1.push(clust_ep);
			}
		}
		
		console.log(clusters_classe0);
		console.log(clusters_classe1);
		console.log(clusters_classe0_1);
		
		
		 var svg = d3.select("#svg").append("svg").attr("height","950px").attr("width","100%");
		 
		for(let i=0;i<=nb_layers;i++){
			svg.append("rect").attr("x",x).attr("y",150).attr("width",70).attr("height",600).attr("fill","purple").attr("stroke","black");
			x += 180;
		}

			
		
		var x = 230+decalage;
		var y = 0;
		for(let i=0;i<clusters_classe0.length;i++){
			var keys = Object.keys(clusters_classe0[i]);
			y = 180;
			for(let j=0;j<keys.length;j++){
					if(!clusters_classe0_1[i].includes(keys[j])){
						svg.append("rect").attr("x",x).attr("y",y).attr("width",110).attr("height",clusters_classe0[i][keys[j]]).attr("fill","yellow").attr("stroke","black");
						y += decalage_y;
					}
					
			}
			x += 180;
		}

		var x = 230+decalage;
		var y1 = y+150;
		for(let i=0;i<clusters_classe0_1.length;i++){
			y = y1;
			for(let j=0;j<clusters_classe0_1[i].length;j++){
				svg.append("rect").attr("x",x).attr("y",y).attr("width",110).attr("height",clusters_classe0[i][clusters_classe0_1[i][j]]).attr("fill","yellow").attr("stroke","black");
				y += clusters_classe0[i][clusters_classe0_1[i][j]];
				svg.append("rect").attr("x",x).attr("y",y).attr("width",110).attr("height",clusters_classe1[i][clusters_classe0_1[i][j]]).attr("fill","pink").attr("stroke","black");
				y += decalage_y;
			}
			x += 180;
		}

		var x = 230+decalage;
		var y1 = y+150;
		for(let i=0;i<clusters_classe1.length;i++){
			var keys = Object.keys(clusters_classe1[i]);
			var y = y1;
			for(let j=0;j<keys.length;j++){
					if(!clusters_classe0_1[i].includes(keys[j])){
						svg.append("rect").attr("x",x).attr("y",y).attr("width",110).attr("height",clusters_classe1[i][keys[j]]).attr("fill","pink").attr("stroke","black");
						y += decalage_y;
					}
					
			}
			x += 180;
		}
		
		svg.append("rect").attr("x",x).attr("y",180).attr("width",150).attr("height",10).attr("fill","green").attr("stroke","black");
		
		svg.append("rect").attr("x",x).attr("y",y1).attr("width",150).attr("height",10).attr("fill","red").attr("stroke","black");
		
	}
	model(vt,5);
</script>